.inventory {
    background-color: #BDAE97;
    top:0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 0 3em;
    height: 100vh;
    z-index: 6;
}

.inventory-slot {
    opacity: 0.45;
    background-color: "#D9D9D9";
    height: 5rem;
    width: 5rem;
    margin: 0 0.2em;
    border-radius: 20%;
}

.inventory-bag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    opacity: 0.40;
    background-color: #978262;
    padding: 1em;
    min-width: 20em;
    border-radius: 20px;
}

.inventory-left .inventory-right {
    display: flex;
    flex: 1;
}

.inventory-right {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-bag {
    display: flex;
    flex-wrap: wrap;
}

.character-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #978262;
    opacity: 0.40;
    padding: 1em;
    border-radius: 20px;
}