.inventory {
    background-color: #BDAE97;
    top:0;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
    padding: 4em 3em 0 3em;
    height: 90vh;
    z-index: 6;
    gap: 20px;
}

button {
    font-family: 'Irish Grover', cursive;
    background-color: white;
    border: solid 1px white;
    color: white;
    width: max-content;
    padding: 0.5em 0.8em;
    font-size: 1.4em;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.playerName {
    margin-top: 0;
}

.inventory-slot {
    opacity: 1;
    background-color: "#D9D9D9";
    height: 5rem;
    width: 5rem;
    border-radius: 20%;
    cursor: pointer;
}

.inventory-bag {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #978262;
    padding: 1em;
    border-radius: 20px;
    gap: 10px;
}

.jewelry-bag, .artifacts-bag {
    position: absolute;
    top: 150px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0;
    background-color: transparent;
}

.jewelry-bag {
    left: 20px;
}

.artifacts-bag {
    right: 20px;
}

.books-bagh {
    background-color: transparent;
}

.player-profile .player-stats-inventory {
    display: flex;
    flex: 1;
}

.player-profile {
    position: relative;
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    background-color: #978262;
    box-shadow: 0 0 20px #00000096;
}

.player-stats-inventory {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 40px;
}

.player-stats-inventory > div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #978262;
    border-radius: 20px;
    box-shadow: 0 0 20px #00000096;
}

.player-stats-inventory h1 {
    margin: 30px 0 0 30px;
}

.character-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 1em;
    width: 100%;
    box-sizing: border-box;
    border-radius: 20px;
    gap: 15px;
    font-size: 25px;
}