.slide-in {
    margin-left: -3000px;
    opacity: 0;
    transition-property: margin-left, opacityleft;
    transition-duration: 3s;
  }

.slide-out {
    margin-left: 0px;
    opacity: 1;
    transition-property: margin-left, opacityleft;
    transition-duration: 3s;
  }