html {
    background-image: url("../../../../public/background_home\ 1.png");
    background-size: cover; 
    background-position: center;
}

.start-button {
    background-color: dark;
    opacity: 0.8;
    color: black;
}